:root {
    /* neutral colors  */
    --Grayish_Blue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* primary colors */
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
}

* {
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
header {
    z-index: 4;
    position: sticky;
    top: 0;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
header img {
    width: 135px;
    height: 20px;
}
.navbar {
    display: flex;
}
.navbar a {
    position: relative;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: var(--Grayish_Blue);
}
.navbar a:hover {
    color: var(--DarkBlue);
}
.navbar a::after {
    transition: transform 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    right: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(
        90deg,
        rgba(49, 211, 92, 1) 0%,
        rgba(43, 183, 218, 1) 100%
    );
}
.navbar a:hover::after {
    transform: scaleX(1);
}
.hamburger {
    display: none;
}

.req-inv {
    cursor: pointer;
    height: 35px;
    width: 130px;
    color: white;
    background: linear-gradient(
        90deg,
        rgba(49, 211, 92, 1) 0%,
        rgba(43, 183, 218, 1) 100%
    );
    border: none;
    border-radius: 20px;
}
.req-inv:hover {
    opacity: 0.8;
}
.hero h1 {
    font-size: 50px;
    font-weight: 300;
}
.hero {
    max-width: 100%;
    display: flex;
    justify-content: center;
    background: var(--VeryLightGray);
}
.hero-desc > * {
    margin: 20px 0;
}
.hero-desc p {
    color: var(--Grayish_Blue);
    font-size: 16px;
    font-weight: 300;
}
.hero-desc {
    text-align: left;
    flex: 2;
    padding: 10% 12%;
}
.bg-container {
    position: relative;
    flex: 3;
    overflow: hidden;
    z-index: 3;
}
.bg-intro::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/image-mockups.png");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 93%;
    left: 20%;
    z-index: 3;
}
.bg-intro::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    /* left: 20%; */
    z-index: 1;
}

.hero-2 {
    background: var(--LightGrayishBlue);
    padding: 40px 90px;
}
.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hero-2-desc {
    font-weight: 300;
    margin: 20px;
    width: 650px;
    text-align: left;
}
.hero-2-desc h2 {
    padding: 20px 0;
    font-size: 30px;
    font-weight: 400;
}
.hero-2-desc p {
    color: var(--Grayish_Blue);
    font-size: 16px;
    padding-bottom: 20px;
}
.features > * {
    margin: 10px;
}
.features {
    width: 250px;
}
.features h4 {
    font-weight: 300;
    font-size: 18px;
}
.features p {
    color: var(--Grayish_Blue);
    font-size: 14px;
    font-weight: 300;
}

.articles-section {
    background: var(--VeryLightGray);
    padding: 10px 90px;
}
.articles-section h2 {
    padding: 50px 10px;
    font-size: 30px;
    font-weight: 400;
}
.articles-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.article {
    background-color: white;
    width: 250px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-bottom: 30px;
}
.article img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 150px;
}
.article-info {
    height: 50%;
    padding: 10px;
}
.article-info h6 {
    padding: 5px;
    font-weight: 100;
    font-size: 12px;
}
.article-info h5 {
    cursor: pointer;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
}
.article-info h5:hover {
    color: var(--LimeGreen);
}
.article-info p {
    color: var(--Grayish_Blue);
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
}

footer {
    background: var(--DarkBlue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.sm-icons {
    margin-top: 25px;
}
.sm-icons svg {
    margin: 3px;
}
.sm-icon:hover path {
    cursor: pointer;
    fill: var(--LimeGreen);
}
.footer-2 li,
.footer-3 li {
    cursor: pointer;
    margin: 10px;
    font-weight: lighter;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer-2 li:hover,
.footer-3 li:hover {
    color: var(--LimeGreen);
}
.footer-4 p {
    padding-top: 20px;
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 760px) {
    #header-req-btn {
        display: none;
    }
    header {
        position: sticky;
        top: 0;
        justify-content: space-between;
        padding: 15px;
    }
    .hamburger {
        cursor: pointer;
        display: block;
    }
    .hamburger span:not(:last-child) {
        margin-bottom: 3px;
    }
    .hamburger span {
        transition: transform 0.5s ease-in-out;
        display: block;
        width: 24px;
        height: 2px;
        background-color: var(--DarkBlue);
        transform-origin: 0;
    }
    .hamburger-close :nth-child(1) {
        transform: rotate(45deg) translate(-3px, -4px);
    }
    .hamburger-close :nth-child(3) {
        transform: rotate(-45deg) translate(-1px, 1px);
    }
    .hamburger-close :nth-child(2) {
        transform-origin: left;
        transform: scaleX(0);
    }
    .navbar {
        border-radius: 5px;
        z-index: 99;
        width: 80%;
        flex-direction: column;
        position: absolute;
        align-self: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: var(--LightGrayishBlue);
        margin: 0;
        top: 55px;
        left: -50%;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
    }
    .navbar-open {
        left: 50%;
    }
    .navbar a {
        margin: 0;
        padding: 10px;
        color: var(--Grayish_Blue);
    }
    .navbar a::after {
        bottom: 0;
    }
    .hero {
        position: relative;
        flex-direction: column-reverse;
    }
    .hero-desc {
        text-align: center;
    }
    .hero-desc p {
        text-align: justify;
        font-size: 14px;
    }
    .hero h1 {
        font-size: 35px;
    }
    .bg-container {
        flex: initial;
        position: initial;
        height: 550px;
        margin-bottom: 50px;
    }
    .bg-intro::before {
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 0%;
        top: -20%;
    }
    .bg-intro::after {
        display: none;
    }
    .bg-intro {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 92%;
        background-image: url("/images/bg-intro-mobile.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100%;
        top: -11%;
    }
    .hero-2 {
        text-align: center;
        padding: 30px 0px;
    }
    .hero-2-desc {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .features-container {
        text-align: center;
    }
    .articles-section h2 {
        text-align: center;
    }
    .articles-section {
        padding: 0;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
    .sm-icons svg {
        margin: 0 5px;
    }
    .footer-1 {
        margin: 0;
    }
    .footer-4 {
        margin: 10px;
    }
}

.no-scroll {
    overflow: hidden;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 80, 0.4);
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
}
.overlay-active {
    opacity: 1;
    visibility: visible;
}
@media only screen and (max-width: 650px) {
    .bg-container {
        height: 400px;
    }
    .bg-intro {
        top: -15%;
        height: 97%;
    }
}
@media only screen and (max-width: 550px) {
    .bg-intro {
        top: -0%;
        height: 95%;
    }
}
@media only screen and (max-width: 450px) {
    .bg-container {
        height: 300px;
    }
    .bg-intro {
        height: 75%;
        top: 0%;
    }
}
